@import "./variables.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌱 Reset: 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 🌍 Base Styles: 전체 배경 및 기본 텍스트 */
body {
    background-color: var(--color-bg-black);
    background-image: var(--color-bg-texture);
    background-repeat: repeat;
    color: white;
}

