/* src/styles/variables.css */

@font-face {
    font-family: "Shilla_CultureB";
    src: url("../../public/fonts/Shilla_CultureB-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BookkMyungjo-Bd";
    src: url("../../public/fonts/BookkMyungjo-Bd.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kdg_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Parisienne';
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/Parisienne.woff2") format('woff2');
}

@font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/Tangerine.woff2") format('woff2');
}

/* 폰트 변수 */
:root {
    --font-handwriting: "MapoFlowerIsland", sans-serif;

    --font-ui: "MapoFlowerIsland", serif;

    /* 색상 변수는 그대로 유지 */
    --color-yellow: #ffe600;   /* 좀 더 선명한 형광 노랑 */
    --color-pink: #ff69b4;     /* 밝은 핫핑크 느낌 */
    --color-blue: #00bfff;     /* 시원한 스카이블루 */
    --color-green: #32cd32;    /* 라임 느낌 나는 연녹색 */
    --color-red: #ff4c4c;      /* 조금 더 강렬한 레드 */
    --color-orange: #ffa500;   /* 진한 주황색 */

    --color-bg-black: #000000;
    --color-bg-texture: url("https://www.transparenttextures.com/patterns/black-paper.png");
}
