<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="user-entry">
        <p class="text-neon-yellow">네온 노란색 텍스트 (강조)</p>
        <p class="text-neon-red">네온 빨간색 텍스트 (경고)</p>
        <p class="text-neon-green">네온 초록색 텍스트 (긍정)</p>
        <p class="text-neon-pink">네온 핑크색 텍스트 (포인트)</p>
        <p class="text-neon-blue">네온 파랑색 텍스트 (중립)</p>
        <p class="text-neon-orange">네온 주황색 텍스트 (에너지)</p>

        <hr>

        <p class="text-yellow">일반 노란 텍스트</p>
        <p class="text-red">일반 빨간 텍스트</p>
        <p class="text-green">일반 초록 텍스트</p>
        <p class="text-pink">일반 핑크 텍스트</p>
        <p class="text-blue">일반 파랑 텍스트</p>
        <p class="text-orange">일반 주황 텍스트</p>
    </div>
</div>

</html>