<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>Style Test</title>
    <meta charset="UTF-8">
</head>

<body>
<div layout:fragment="content">
    <h2>🎨 Style 테스트 페이지</h2>

    <div class="user-entry">
        오늘 나는 나 자신에게 질문을 던져봤다.<br>
        “나는 지금 진짜로 원하는 걸 향해 가고 있는가?”<br>
        느린 걸음이어도 괜찮다. 중요한 건 방향이다.
    </div>

    <p class="highlight-yellow">노란 형광 강조 텍스트</p>
    <p class="alert">빨간색 경고 텍스트</p>
    <p class="good">초록색 긍정 텍스트</p>
</div>
</body>
</html>
